In [6]:
import pandas as pd

dt = pd.read_csv('scripts_the_office.csv')
dt

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False
...,...,...,...,...,...,...,...
59904,59905,9,23,112,It all seems so very arbitrary. I applied for ...,Creed,False
59905,59906,9,23,113,I just feel lucky that I got a chance to share...,Meredith,False
59906,59907,9,23,114,I���m happy that this was all filmed so I can ...,Phyllis,False
59907,59908,9,23,115,I sold paper at this company for 12 years. My ...,Jim,False
59908,59909,9,23,116,I thought it was weird when you picked us to m...,Pam,False

In [16]:
actors = dt['speaker']
actors

0         Michael
1             Jim
2         Michael
3             Jim
4         Michael
           ...
59904       Creed
59905    Meredith
59906     Phyllis
59907         Jim
59908         Pam
Name: speaker, Length: 59909, dtype: object

In [32]:
df=pd.DataFrame(actors)
df=df[df['speaker']== 'Michael']
micheal_count =df.count()

In [34]:
total=len(actors)

In [36]:
perc_Michael= micheal_count/total*100
perc_Michael

speaker    20.25906
dtype: float64

In [39]:
print("in all espisode of season #1 Micheal had this percentage of total lines")
print(perc_Michael)

in all espisode of season #1 Micheal had this percentage of total lines
speaker    20.25906
dtype: float64